<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.php.core.phpBuilderExtensions">
      <builder
            class="org.eclipse.php.smarty.internal.core.builder.SmartyBuilder"
            id="org.eclipse.php.smarty.core.builder">
      </builder>
   </extension>

</plugin>
