<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.php.core.phpBuilderExtensions">
      <builder
            class="org.eclipse.php.smarty.internal.core.builder.SmartyBuilder"
            id="org.eclipse.php.smarty.core.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      	<content-type
            base-type="org.eclipse.php.core.phpsource"
            file-extensions="template"
            id="template"
            name="Smarty Template"
            priority="high">
		</content-type>
   </extension>
</plugin>
