<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!--Smarty Editor:-->
	<extension point="org.eclipse.ui.editors">
		<editor
        class="org.eclipse.php.smarty.ui.editor.SmartyStructuredEditor"
        contributorClass="org.eclipse.php.internal.ui.editor.ActionContributorForPhp"
        default="true"
        icon="ico/full/obj16/smartyfile.gif"
        id="org.eclipse.smarty.editor"
        name="Smarty Editor"
        symbolicFontName="org.eclipse.wst.sse.ui.textfont">
			<contentTypeBinding contentTypeId="org.eclipse.php.smarty.core.template" />
		</editor>
	</extension>
   
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.php.smarty.ui.editor.configuration.SmartyStructuredTextViewerConfiguration"
			target="org.eclipse.php.smarty.core.template" />
		<contentOutlineConfiguration
			class="org.eclipse.php.internal.ui.outline.PHPContentOutlineConfiguration"
			target="org.eclipse.php.smarty.core.template" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.php.smarty.core.template" />
		<provisionalConfiguration
			type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="org.eclipse.php.smarty.core.template" />
		<provisionalConfiguration
			type="characterpairmatcher"
			class="org.eclipse.php.internal.ui.text.PHPDocumentRegionEdgeMatcher"
			target="org.eclipse.php.smarty.core.template" />
		<provisionalConfiguration
			type="structuredtextfoldingprovider"
			class="org.eclipse.php.internal.ui.folding.PHPFoldingStructureProviderProxy"
			target="org.eclipse.php.smarty.core.template" />
		<provisionalDefinition
			type="spellingregions"
			value="XML_COMMENT_TEXT, PHP_CONTENT, XML_CONTENT"
			target="org.eclipse.php.smarty.core.template" />
	</extension>
   
   

	<extension id="SmartyCompletionProposalComputer"
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
		<scriptCompletionProposalComputer
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			class="org.eclipse.php.smarty.ui.editor.configuration.SmartyCompletionProposalComputer"
			toolkitId="org.eclipse.php.core.PHPNature">
			<partition type="org.eclipse.php.SMARTY_DEFAULT">
			</partition>
		</scriptCompletionProposalComputer>
	</extension>


	<!--Templates:-->
	<extension point="org.eclipse.ui.editors.templates">

		<contextType name="smarty"
			class="org.eclipse.php.smarty.ui.editor.templates.SmartyTemplateContextType"
			id="smarty" />

		<include file="templates/smartydefault-templates.xml"
			translations="$nl$/templates/smartydefault-templates.properties" />

	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.eclipse.php.smarty.ui.preferences.SmartyBasePreferencePage"
			id="org.eclipse.php.smarty.ui.preferences.SmartyBasePreferencePage" name="%smartyPageName">
			<keywordReference id="org.eclipse.php.smarty.ui.general" />
		</page>
		<page category="org.eclipse.php.smarty.ui.preferences.SmartyBasePreferencePage"
			class="org.eclipse.php.smarty.ui.preferences.SmartyEditorPreferencePage"
			id="org.eclipse.php.smarty.ui.preferences.SmartyEditorPreferencePage" name="%smartyEditorPageName">
			<keywordReference id="org.eclipse.php.smarty.ui.editor" />
		</page>
		<page category="org.eclipse.php.smarty.ui.preferences.SmartyEditorPreferencePage"
			class="org.eclipse.php.smarty.ui.preferences.SmartyTemplatesPreferencePage"
			id="org.eclipse.php.smarty.ui.preferences.SmartyTemplatesPreferencePage" name="%templatesPreferencePageName">
			<keywordReference id="org.eclipse.php.smarty.templates" />
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.keywords">
		<keyword label="%preferenceKeywords.templates" id="org.eclipse.php.smarty.templates" />
		<keyword label="%preferenceKeywords.general" id="org.eclipse.php.smarty.ui.general" />
		<keyword label="%preferenceKeywords.editor" id="org.eclipse.php.smarty.ui.editor" />
	</extension>
	
</plugin>
